<h1>Seja bem vindo ao serviço Correct Address!</h1>
<p>Projeto em desenvolvimento, que pode ser acompanhado <a href="https://www.pivotaltracker.com/n/projects/1856419" taget="_blank">aqui</a>.</p>
<p>
ruby: <%= RUBY_VERSION %> rails: <%= Rails.version %><br />
</p>